# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [2]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 10, 12]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise', 'Chang', 'Gan']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 10, 12, 12]
['Brandon', 'Chang', 'Elise', 'Eugene', 'Gan', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [4]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,10):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9, 4, 7, 8, 9, 3]
    random.shuffle(numbers)
    print(numbers)

[4, 3, 3, 9, 5, 12, 2, 9, 8, 8, 1, 7, 4]
[7, 12, 8, 4, 1, 5, 4, 3, 9, 8, 2, 3, 9]
[9, 8, 4, 7, 12, 1, 5, 2, 9, 4, 8, 3, 3]
[4, 3, 8, 7, 2, 8, 1, 5, 12, 4, 9, 9, 3]
[7, 3, 9, 12, 9, 5, 3, 8, 4, 1, 8, 4, 2]
[5, 8, 4, 1, 12, 3, 9, 2, 4, 9, 7, 3, 8]
[9, 1, 9, 3, 8, 12, 3, 7, 4, 5, 4, 8, 2]
[1, 4, 4, 12, 2, 7, 3, 8, 8, 9, 3, 9, 5]
[7, 2, 1, 5, 3, 8, 9, 9, 8, 3, 12, 4, 4]
[9, 5, 3, 12, 1, 9, 8, 4, 2, 3, 7, 4, 8]

# Q1 Sort the numbers in decending  order of the following code

In [7]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 10, 15]

# Apply the sort() function to the lists
numbers.sort(reverse=True)

# Display the output
print(numbers)

[15, 12, 10, 9, 8, 5, 4, 3, 2, 1]

#Q2 Write python code that count the number of character in our English full name.

In [12]:
# Input your full name as a string
full_name = "Chang Zi Jian"  # Replace this with your full name

# Remove spaces from the full name using the replace() method
full_name_without_spaces = full_name.replace(" ", "")

# Use len() to count the number of characters (including spaces)
character_count = len(full_name_without_spaces)

# Print the result
print("Your full name is:", full_name)
print("The number of characters in your full name is:", character_count)

Your full name is: Chang Zi Jian
The number of characters in your full name is: 11